.features-section {
  padding: 4rem 1rem;
  text-align: center;
  background-color: #f7faf7;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0d0d1f;
}

.section-heading span {
  color: #21763e;
}

.section-subtext {
  max-width: 600px;
  margin: 1rem auto 3rem;
  font-size: 1rem;
  color: #5e5e5e;
}

.cards-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature-card {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  text-align: left;
  color: #0d0d1f;
}

.feature-card .icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #21763e;
  transition: color 0.3s ease;
}

.feature-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #0d0d1f;
  transition: color 0.3s ease;
}

.feature-card p {
  font-size: 0.95rem;
  color: #5e5e5e;
  transition: color 0.3s ease;
}

.feature-card:hover {
  background-color: #21763e;
  color: #fff;
  transition: background 1s;

}

.feature-card:hover .icon,
.feature-card:hover h3,
.feature-card:hover p {
  color: #fff;
}
