.bg-color{
  background-color: #e3e3e3 !important;
  color: #808080 !important;
}

.vaccine-table-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* ظل ناعم */
  border-radius: 8px; /* اختياري: يعطي حواف ناعمة */
  padding: 1rem; /* اختياري: مسافة داخلية */
  margin-top: 20px;
}
