.usefullto{
    min-height: 100vh;
    background-color: #f7faf7;

}
.pp{
    height: 250px;
}

.div-1{
    border: 0.5px;
    border-color: black;
}


  
.card-hover {
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .card-hover:hover {
    box-shadow: 0 0 20px rgba(0, 128, 73, 0.2);
    transition: background 1s;

  }
  
  .immg:hover{
    transition: background 1s;
    transform: scale(1.1);
    border: none;
   
  }

  .usefull{
    margin-top: 30px;
  }
.color-text{
  color: #21763e;  
}

.card-hover:hover .ll {
    border: none;
  }
  
  
.section_heading{
   font-size: 2.5rem;
  font-weight: 700;
  color: #0d0d1f;
}
.section_heading span {
  color: #21763e;
}

  /* color: #778983; */