*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* ============================
      RTL Languages
============================ */

/* Arabic + Urdu */
html[lang="ar"],
html[lang="ur"] {
  direction: rtl;
  text-align: right;
}

/* ============================
      LTR Languages
============================ */

html[lang="en"] {
  direction: ltr;
  text-align: left;
}
