.form-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
  font-family: "Segoe UI", sans-serif;
}

.form-title {
  text-align: center;
  font-size: 22px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}

input:focus {
  border-color: #21763e;
  box-shadow: 0 0 5px 21763e;
}

.submit-btn {
  padding: 12px;
  background: #21763e;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #21763e;
}

.image-preview {
  margin-top: 15px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: 8px;
}
